.contato {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}

.imagem__formulario {
    display: flex;
    width: 25%;
    margin-left: 6rem;
    height: 35.375rem;
}

.formulario {
    margin-left: 0.25rem;
    margin-right: 6rem;
}

.dados__formulario .itens__formulario {
    display: flex;
    flex-direction: column;
}

.sub__titulo--form {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.texto__formulario {
    font-weight: 500;
    font-size: 1.125rem;
    color: #464646;
    width: 70%;
}

.dados__formulario {
    margin-top: 1rem;
}

.formulario__inf {
    font-weight: 500;
    font-size: 0.75rem;
    color: #464646;
}

.formulario__input {
    width: 70%;
    height: 2rem;
    margin-bottom: 0.2rem;
}

.formulario__mensagem {
    width: 70%;
}

.formulario__button {
    margin-top: 1.45rem;
}

.itens__formulario {
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.itens__formulario--invalido {
    margin-bottom: 0.5rem;
}

.itens__formulario--invalido {
    color: #df2525;
}

.input-mensagem-erro {
    display: none;
}

.itens__formulario--invalido .input-mensagem-erro {
    font-size: 0.8rem;
    color: #df2525;
    display: block;
}

.botao:hover,
.botao:focus {
    outline: none;
    background: #0d66da;
}

.botao:disabled {
    cursor: not-allowed;
    background: #555b69;
  }


@media screen and (max-width: 900px) {

    .contato {
        margin: 1rem;
    }

    .imagem__formulario {
        display: none;
    }

    .texto__formulario {
        width: 90%;
    }

    .formulario {
        width: 100%;
        margin-right: 0;
    }

    .dados__formulario {
        margin-left: 0.20rem;
    }

    .formulario__inf {
        margin-bottom: 0.55rem;
    }

}

@media screen and (max-width: 425px){
    .sub__titulo--form {
        display: flex;
        justify-content: center;
    }

    .texto__formulario {
        width: 100%;
    }

    .formulario__input {
        width: 100%;
    }

    .formulario__button {
        display: flex;
        justify-content: center;
    }

}
