.experiencia {
    margin-top: 5rem;
    width: 100%;
}

.experiencia__repositorio {
    display: flex;
    justify-content: space-around;
    margin: 4rem;
}

.experiencia__repositorio:nth-child(2) {
    flex-direction: row-reverse;
}

.informacoes__experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
}

.sub__titulo--exp {
    font-weight: 700;
    font-size: 1.375rem;
    text-align: center;
    margin-bottom: 0.75rem;
}

.texto__experiencia {
    font-weight: 500;
    color: #464646;
    font-size: 1rem;
    text-align: center;
}

.experiencia__botao {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.button__branco {
    margin-right: 1rem;
}

.button__branco a:visited {
    color: #2A7AE4;
}

.button__azul a:visited {
    color: #FFFFFF;
}

.img__experiencia {
    width: 46rem;
    height: 28rem;
}

@media screen and (max-width: 900px) {

    .experiencia__repositorio {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 1rem;
    }


    .experiencia__repositorio:nth-child(2) {
        flex-direction: column;
    }

    .img__experiencia {
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 425px){   
    .experiencia__repositorio {
        margin-right: 2rem;
        align-items: center;
        justify-content: center;
    }

    .experiencia__repositorio:nth-child(2) {
        justify-content: center;
        align-items: center;
    }

    .experiencia__botao {
        margin-top: 1rem;
    }
}