.formacao {
    margin-top: 5rem;
}

.itens__formacao {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formacao__itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.nome__formacao {
    font-weight: 600;
}

.formacao__titulo {
    margin-bottom: 0.25rem;
}

.imagem__formacao {
    width: 50%;
}

.nome__formacao {
    font-size: 1.375rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #464646;
}

.formacao__conclusao {
    font-size: 1rem;
    color: #464646;
}

.imagem__formacao {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .formacao__itens {
        margin: 1rem;
    }

    .itens__formacao {
        justify-content: left;
        align-items: flex-start;
    }

    .item__formacao {
        display: flex;
    }

    .formacao__titulo {
        margin-left: 1rem;
        align-items: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .formacao__titulo{
        text-align: center;
    }
    
    .formacao__itens {
        flex-wrap: wrap;
        
    }

    .itens__formacao {
        flex-wrap: wrap;        
        margin-bottom: 2rem;
        align-content: center;
    }

    .imagem__formacao {
        margin-bottom: 0;  
    }
}

