:root {
    --cinza-claro: #464646;
    --azul-claro: #2A7AE4;
}

.resumo {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
}

.resumo__texto {
    width: 45%;
    margin-left: 6rem;
}


.titulo {
    font-size: 3.25rem;
    font-weight: 700;
}

.texto {
    margin-top: 1.5rem;
}

.links {
    margin-top: 0.75rem;
}

.link__itens {
    display: flex;
}

.itens__link {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.resumo__imagem {
    display: flex;
    margin-right: 10rem;
}

.foto__perfil {
    width: 15rem;
    height: 20rem;
    margin-right: 6rem;
}
